<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Conforming to the rules, we proceed to inform how this app uses your information. We do not distribute your personal information to third parties, neither save them for later purposes.</string>
</dict>
</plist>
